.icon {
  display: inline-block;
  margin: 0;
  padding: 3px;
  text-align: center;
  border-radius: 5px;
  width: 30px;
  background-color: $secondaryColor;
  color: white;
  font-weight: normal;
  margin-right: 0.25em;
}

.highlight-span {
  display: inline-block;
  padding: 3px 6px;
  border-radius: 3px;
  background-color: #f8d6c6;

  a {
    color: #000 !important;
  }
}
