/* --- COLORS --- */
$bgColor: #161c17;
$lightBgColor: #91b2d3;
$textColor: #494949;
$contrastColor: #fff;
$primaryColor: #4061bf;
$secondaryColor: #e87a54;
$secondaryTextColor: white;
$headerSelectorColor: gray;
$buttonsMediaColor: #f2e7bf;
$overlayColor: rgba(0, 0, 0, 0.4);
$tapColor: rgba(0, 102, 204, 0.4);
//Links
// $highlightColor: darken($secondaryColor, 25%);
$highlightColor: #9e5235;
$mlhHardwareBtn: $highlightColor;

/* --- PATHS --- */
$fontsDir: "../fonts";
$imgDir: "../img/live";

/* --- MISC --- */
$fadeTime: 300ms;
$asideOpenTime: 300ms;
$timerAnimLength: 300ms;
$happenedOpacity: 0.5;

$borderRadius: 3px;
