/* Shared classes: may be overwritten in other files */

/* Generic: incontextual classes */
article {
  display: none !important;
  &.active { display: block !important; }
}
strong { color: $highlightColor; }
a {
  color: $highlightColor;
  text-decoration: none;
}

.padding-bottom { padding-bottom: 50px; }

.hidden { display: none !important; }

.faded {
  opacity: 0;
  transition: opacity $fadeTime;
}
.veil::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $overlayColor;
  z-index: 100;
  opacity: 0;
  transition: opacity $fadeTime;
}

.veiled::before {
  opacity: 1 !important;
  transition: opacity $fadeTime;
}
.centered {
  display: block;
  margin: 0 auto;
}

.happened { opacity: $happenedOpacity; }
.happening { font-weight: bold !important; }

.prompt {
  position: fixed;
  display: flex;
  top: 0; bottom: 0;
  left: 0; right: 0;
  justify-content: center;
  align-items: center;
  z-index: 110;
  backdrop-filter: blur(10px);

  .box {
    color: $secondaryTextColor;
    background-color: $bgColor;
    padding: 20px;
    margin: 20px;
    max-width: 575px;
    border-radius: 5px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.3);
    h1 {
      margin: 0;
      padding: 0;
    }
    p { margin: 16px 0; }
    .buttons {
      display: flex;
      justify-content: flex-end;
      div {
        padding: 5px 10px;
        color: $contrastColor;
        background-color: $primaryColor;
        cursor: pointer;
        border-radius: 5px;
        margin-left: 16px;
        font-weight: bold;
        letter-spacing: 1px;
      }
      #promptCancel {
        background-color: #ddd;
        color: #666;
        font-weight: normal;
        letter-spacing: 0;
      }
    }
  }
}

.when-small { width: 20%; }

.external-link::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

@media (min-width: 720px) {
  .under-header { padding-top: 150px; }

  .show-when-small { display: none !important; }
}

@media (max-width: 720px) {
  .under-header { padding-top: 60px; }

  .hide-when-small { display: none !important; }

  .when-small { width: 60%; }

}





.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
  padding: 16px;


  .no-margin {
    /* stylelint-disable */
    div {
      /* stylelint-enable */
      margin: 0;
    }
  }
}
