/* --- COLORS --- */
$bgColor: #161c17;
$textColor: #494949;
$contrastColor: #fff;
$primaryColor: #3F5182 ;
$secondaryColor: #EC6162;
$secondaryLightColor: #f8d6c6;
$secondaryTextColor: white;
$tertiaryLightColor: #f2e7bf;
$highlightColor: $secondaryColor;

/* --- EASINGS --- */
$easeBounce: cubic-bezier(0.18, 0.89, 0.32, 1.28);
