@use 'sass:color';

/* --- COLORS --- */
$bg-color: #f2ede6;
$text-color: #222;
$contrast-color: #E8E2D7;
$text-soft-color: #686868;
$primary-color: #BEB771;
$secondary-color: #E18282;
$secondary-light-color-intensity: 100;
$secondary-light-color: color.adjust($secondary-color, $red: $secondary-light-color-intensity, $green: $secondary-light-color-intensity, $blue: $secondary-light-color-intensity);
$secondary-text-color: #2b2b2b;
$tertiary-light-color: #fff;
$highlight-color: $secondary-color;

/* --- EASINGS --- */
$ease-bounce: cubic-bezier(0.18, 0.89, 0.32, 1.28);

/* --- OTHER UI --- */
$border-radius: 0.75rem;
