@use 'sass:color';

/* --- COLORS --- */
$bg-color: #000;
$text-color: #F9FDFF;
$text-color-dark: #232F34;
$contrast-color: #232F34;
$text-soft-color: #686868;
$primary-color: #7F27A2;
$primary-color-light: #E3C3FF;
$links-color: #FF8886;
$links-color-hover: #FC5C5A;
$secondary-color: #E23532;
$secondary-light-color-intensity: 100;
$secondary-light-color: color.adjust($secondary-color, $red: $secondary-light-color-intensity, $green: $secondary-light-color-intensity, $blue: $secondary-light-color-intensity);
$secondary-text-color: #dadada;
$tertiary-light-color: #88A7B7;
$highlight-color: $secondary-color;
$header-mobile-bg-color: rgb(40 40 40 / 90%);
$header-desktop-bg-color: rgb(40 40 40 / 50%);

/* --- EASINGS --- */
$ease-bounce: cubic-bezier(0.18, 0.89, 0.32, 1.28);

/* --- OTHER UI --- */
$border-radius: 0.75rem;
