/* --- COLORS --- */
$bg-color: #1d162f;
$text-color: #494949;
$contrast-color: #fff;
$text-soft-color: #686868;
$primary-color: #4c3d84;
$secondary-color: #ec6162;
$secondary-light-color: #f8d6c6;
$secondary-text-color: #fff;
$tertiary-light-color: #f2e7bf;
$highlight-color: $secondary-color;

/* --- EASINGS --- */
$ease-bounce: cubic-bezier(0.18, 0.89, 0.32, 1.28);
